# Created by .ignore support plugin (hsz.mobi)

.idea
*.iml
out
gen
*.rar
target
/src/main/resources/application.yml
/src/main/java/neko/utils/message/Message.java
/src/main/java/neko/utils/CodeGenerator.java
