<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="neko.mapper.RollcalldetailsMapper">

    <select id="myAttendance" resultType="neko.entity.vo.StudentRollcall">
        select rd.rdid,c.cname,course.cname as 'coursename',u.uname,r.rtime,rd.state
            from rollcalldetails rd
                left join rollcall r on rd.rid = r.rid
                left join course on r.cid = course.courseid
                left join class c on course.cid = c.cid
                left join classteacher ct on c.cid = ct.cid
                left join users u on ct.uid = u.uid
            where rd.uid = #{uid}
                and r.rtime&lt;=#{datetimeEnd}
                and r.rtime&gt;=#{datetimeBegin}
                and if(#{course} = '', 1 = 1,course.courseid=#{course})
    </select>
</mapper>
